<p id="notice"><%= notice %></p>

<p> <%= link_to "Subject #{@collection.subject_id}", @collection.subject %></p>

<h3> Images </h3>
<h5>Total number of images: <%= @image_count %></h5>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Collection date</th>
      <th>Size</th>
      <th>Date modified</th>
      <th>Date added</th>
      <th>Date taken</th>
      <th>Is private</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @collection.images.each do |image| %>
      <tr>
        <td><%= image.date %></td>
        <td><%= image.size %></td>
        <td><%= image.date_modified %></td>
        <td><%= image.date_added %></td>
        <td><%= image.date_taken %></td>
        <td><%= image.is_private %></td>
        <td><%= image.latitude %></td>
        <td><%= image.longitude %></td>
        <td><%= link_to 'Show', image %></td>
      </tr>
    <% end %>
</tbody>
</table>

<h3> Applications </h3>
<h5>Total number of applications: <%= @application_count %></h5>
<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>Collection date</th>
    <th>Label</th>
    <th>Package name</th>
    <th>First installed</th>
    <th>Version name</th>
    <th>Target SDK version</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @collection.applications.each do |application| %>
      <tr>
        <td><%= application.date %></td>
        <td><%= application.label %></td>
        <td><%= application.package_name %></td>
        <td><%= application.first_installed %></td>
        <td><%= application.version_name %></td>
        <td><%= application.target_sdk_version %></td>
        <td><%= link_to 'Show', application %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3>Text files</h3>
<h5>Total number of text files: <%= @text_count %></h5>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Size</th>
      <th>Date modified</th>
      <th>Date added</th>
      <th>Mime type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collection.texts.each do |text| %>
      <tr>
        <td><%= text.date %></td>
        <td><%= text.size %></td>
        <td><%= text.date_modified %></td>
        <td><%= text.date_added %></td>
        <td><%= text.mime_type %></td>
        <td><%= link_to 'Show', text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Audio files</h3>
<h5>Total number of audio files: <%= @audio_count %></h5>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>Collection</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Composer</th>
      <th>Year</th>
      <th>Date added</th>
      <th>Date modified</th>
      <th>Size</th>
      <th>Is alarm</th>
      <th>Is music</th>
      <th>Is notification</th>
      <th>Is podcast</th>
      <th>Is ringtone</th>
      <th>Time</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collection.audios.each do |audio| %>
      <tr>
        <td><%= audio.date %></td>
        <td><%= audio.collection_id %></td>
        <td><%= audio.album %></td>
        <td><%= audio.artist %></td>
        <td><%= audio.composer %></td>
        <td><%= audio.year %></td>
        <td><%= audio.date_added %></td>
        <td><%= audio.date_modified %></td>
        <td><%= audio.size %></td>
        <td><%= audio.is_alarm %></td>
        <td><%= audio.is_music %></td>
        <td><%= audio.is_notification %></td>
        <td><%= audio.is_podcast %></td>
        <td><%= audio.is_ringtone %></td>
        <td><%= audio.date %></td>
        <td><%= audio.duration %></td>
        <td><%= link_to 'Show', audio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Video files</h3>
<h5>Total number of videos: <%= @video_count %></h5>

<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>Tags</th>
    <th>Album</th>
    <th>Resolution</th>
    <th>Size</th>
    <th>Category</th>
    <th>Duration</th>
    <th>Date added</th>
    <th>Date modified</th>
    <th>Date taken</th>
    <th>Description</th>
    <th>Is private</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Artist</th>
    <th>Language</th>
    <th>Date</th>
    <th>Collection</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @collection.videos.each do |video| %>
      <tr>
        <td><%= video.tags %></td>
        <td><%= video.album %></td>
        <td><%= video.resolution %></td>
        <td><%= video.size %></td>
        <td><%= video.category %></td>
        <td><%= video.duration %></td>
        <td><%= video.date_added %></td>
        <td><%= video.date_modified %></td>
        <td><%= video.date_taken %></td>
        <td><%= video.description %></td>
        <td><%= video.is_private %></td>
        <td><%= video.longitude %></td>
        <td><%= video.latitude %></td>
        <td><%= video.artist %></td>
        <td><%= video.language %></td>
        <td><%= video.date %></td>
        <td><%= video.collection_id %></td>
        <td><%= link_to 'Show', video %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
