<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @audio.time %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @audio.collection_id %>
</p>

<p>
  <strong>Album:</strong>
  <%= @audio.album %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @audio.artist %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @audio.composer %>
</p>

<p>
  <strong>Year:</strong>
  <%= @audio.year %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @audio.date_added %>
</p>

<p>
  <strong>Date modified:</strong>
  <%= @audio.date_modified %>
</p>

<p>
  <strong>Size:</strong>
  <%= @audio.size %>
</p>

<p>
  <strong>Is alarm:</strong>
  <%= @audio.is_alarm %>
</p>

<p>
  <strong>Is music:</strong>
  <%= @audio.is_music %>
</p>

<p>
  <strong>Is notification:</strong>
  <%= @audio.is_notification %>
</p>

<p>
  <strong>Is podcast:</strong>
  <%= @audio.is_podcast %>
</p>

<p>
  <strong>Is ringtone:</strong>
  <%= @audio.is_ringtone %>
</p>

<p>
  <strong>Time:</strong>
  <%= @audio.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @audio.duration %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
