<h1>Listing subjects</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>First seen</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Country</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Device</th>
      <th>Product</th>
      <th>Serial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.date %></td>
        <td><%= subject.gender %></td>
        <td><%= subject.age %></td>
        <td><%= subject.country %></td>
        <td><%= subject.brand %></td>
        <td><%= subject.model %></td>
        <td><%= subject.device %></td>
        <td><%= subject.product %></td>
        <td><%= subject.serial %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  Download:
  <%= link_to "CSV", subjects_path(format: "csv") %> |
  <%= link_to "Excel", subjects_path(format: "xls") %>
</p>

<%= link_to 'New Subject', new_subject_path %>
