<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @subject.date %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @subject.brand %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @subject.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @subject.age %>
</p>

<p>
  <strong>Country:</strong>
  <%= @subject.country %>
</p>

<p>
  <strong>Model:</strong>
  <%= @subject.model %>
</p>

<p>
  <strong>Device:</strong>
  <%= @subject.device %>
</p>

<p>
  <strong>Product:</strong>
  <%= @subject.product %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @subject.serial %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @subject.uid %>
</p>

<h3> Collections </h3>
<ul>
  <% @subject.collections.each do |collection| %>
    <li><%= link_to collection.id, collection_path(collection) %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
