<h1>Listing emails</h1>
<h4 class="h4">Total number of emails: <%= @email_count %></h4>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Entries</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.email %></td>
        <td><%= email.entries %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Download:
  <%= link_to "CSV", emails_path(format: "csv") %> |
  <%= link_to "Excel", emails_path(format: "xls") %>
</p>
