<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Size</Data></Cell>
        <Cell><Data ss:Type="String">Date modified</Data></Cell>
        <Cell><Data ss:Type="String">Date added</Data></Cell>
        <Cell><Data ss:Type="String">Mime type</Data></Cell>
      </Row>
      <% @texts.each do |text| %>
          <Row>
            <Cell><Data ss:Type="String"><%= text.date %></Data></Cell>
            <Cell><Data ss:Type="String"><%= text.size %></Data></Cell>
            <Cell><Data ss:Type="String"><%= text.date_modified %></Data></Cell>
            <Cell><Data ss:Type="String"><%= text.date_added %></Data></Cell>
            <Cell><Data ss:Type="String"><%= text.mime_type %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
