<li><%= link_to 'Subjects', subjects_path %></li>
<li><%= link_to 'Images', images_path %></li>
<li><%= link_to 'Applications', applications_path %></li>
<li><%= link_to 'Text files', texts_path %></li>
<li><%= link_to 'Audio', audios_path %></li>
<li><%= link_to 'Videos', videos_path %></li>
<li><%= link_to 'Visualizations', visualizations_path %></li>
<li><%= link_to 'Emails', emails_path %></li>
